

<button class=" d-flex align-items-center mt-5 mx-auto btn btn-primary" (click)="testProtectedAPI()"> Mostramos</button>
<div class="d-flex justify-content-center align-items-center mt-4">
  <button class="btn btn-danger me-2 " (click)="logout()">Cerrar sesión</button>
  <button class="btn btn-primary " (click)="checkUser()">Ver usuario</button>
</div>

<!--

<div *ngIf="user$ | async as user">
    <h2>Bienvenido, {{ user.name }}!</h2>
    <p>Email: {{ user.email }}</p>
    <img [src]="user.picture" alt="Foto de perfil">
  </div>
-->